@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: radial-gradient(ellipse at top, #292017 0%, #0c0a09 60%);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
